* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

image {
  max-width: 100%;
  box-sizing: border-box;
}

/* index */

.body-inicio {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titulo {
  color: #21eb00;
  font-family: "roboto";
  font-size: 3vw;
  margin-bottom: 1rem;
}

.msg {
  color: #fff;
  font-family: "roboto";
  font-size: 1.7vw;
  margin-bottom: 1rem;
}

.data {
  background-color: #191a18;
  padding: 1rem;
  font-size: 1.7vw;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 18.8vw;
  margin-bottom: 1rem;
}

.iniciar {
  width: 20vw;
  padding: 1rem;
  border-radius: 15px;
  background-color: #21eb00;
  color: #000;
  font-size: 1.7vw;
  font-weight: bolder;
  font-family: "roboto";
  border-radius: 30px;
}

/* contador */
.body-contador {
  background: #000;
  padding-top: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

.header-contador {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10vh;
}

.titulo-contador {
  color: #21eb00;
  font-family: "roboto";
  font-size: 3vw;
  flex: 1;
}

.reiniciar {
  width: 10vw;
  padding: 0.7rem;
  border-radius: 15px;
  background-color: #21eb00;
  color: #000;
  font-size: 1.7vw;
  font-weight: bolder;
  font-family: "roboto";
  border-radius: 30px;
}

.faltam {
  color: #191a18;
  font-size: 5vw;
  font-family: "roboto";
  text-align: center;
  margin-bottom: 2rem;
}

.cronometro {
  display: flex;
  justify-content: space-around;
}

.cronometro div h3 {
  font-size: 7vw;
  color: #fff;
  font-family: "roboto";
}
.cronometro div {
  font-size: 2vw;
  color: #21eb00;
  font-family: "roboto";
  text-align: center;
}

@media (max-width: 900px) {
  .titulo {
    font-size: 6vh;
  }

  .msg {
    font-size: 4vh;
  }

  .data {
    font-size: 4vh;
    border-radius: 30px;
    width: 70%;
  }

  .iniciar {
    width: 70%;
    font-size: 4vh;
  }

  /* contador */
  .body-contador {
    background: #000;
    padding-top: 2rem;
  }

  .container {
    max-width: 90%;
  }

  .container::after,
  .container::before {
    content: "";
    display: table;
    clear: both;
  }

  .titulo-contador {
    font-size: 6vh;
  }

  .reiniciar {
    width: 40%;
    font-size: 4vh;
  }

  .faltam {
    font-size: 10vh;
  }

  .cronometro {
    display: flex;
    justify-content: space-around;
  }

  .cronometro div h3 {
    font-size: 8vh;
  }
  .cronometro div {
    font-size: 3vh;
  }
}
